# <center> <u>Data Structures <u> </center>

## 1. Lists

Reference:- https://www.youtube.com/watch?v=b3O9qI5dcHE&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=10

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a =["suraj","akhilesh","sneha","ashwini"]

In [2]:
# print the value of a
a

['suraj', 'akhilesh', 'sneha', 'ashwini']

In [3]:
# print the type of a

type(a)

list

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [19]:
#code here
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [20]:
#code here
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [21]:
#code here

for item in languages :
    print(item)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [22]:
#code here
temp = languages[1]
print(temp)

Python

Print the value of temp and type(temp)

In [23]:
#code here
print(temp)
print(type(temp))

Python
<class 'str'>

Using list comprehension, print the last two elemets of list

In [24]:
# code here
fil_lang = [i for i in languages if  i == "Scala" or i == 42]
print(fil_lang)

['Scala', 42]

Append the element 'Java' in the list

In [2]:
#code here
languages = ['R','Python', 'SAS', 'Scala', 42]
languages.append("java")
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'java']

Remove the element 42 from the list and print the list

In [9]:
#code here

languages.pop(-1)
languages

['R', 'Python', 'SAS', 'Scala', 42]

['R', 'Python', 'SAS', 'Scala']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [11]:
#code here
colors = ["Red","Blue","White"]

Append the element 'Black' to colors

In [12]:
#code here
colors.append("Black")
colors

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [14]:
# code here
colors.insert(1,"Orange")

Print the list

In [15]:
# code here
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [16]:
# code here
colors2 = ['Gray','Sky','Blue']

Add the elements of colors2 to colors using extend function in the list

Print len of colors and its elements

In [35]:
colors.extend(colors2)
col=set(colors)
colors =list(col)

In [36]:
# code here

print(len(colors))

7

Sort the list and print it.

In [37]:
# code here
colors.sort()
print(colors,end="")

['Black', 'Blue', 'Gray', 'Orange', 'Red', 'Sky', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [64]:
# code here
sent = "Coronavirus Caused Lockdowns Around The World"

Use split function to convert the string into a list of words and save it in variable words and print the same

In [65]:
# code here
sent =sent.split()
print(sent)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [89]:
# code here
print(sent)
print("---------------------")
lower_variable = [i.lower() for i in sent]
print(lower_variable)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']
---------------------
['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Check whether ‘country’ is in the list

In [90]:
# code here
print("country" in sent)

False

Remove the element ‘the’ from the list and print the list.

In [91]:
# code here

lower_variable.pop(-2)
print(lower_variable)

['coronavirus', 'caused', 'lockdowns', 'around', 'world']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [95]:
#code here
x4 = lower_variable[:4]

In [96]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [99]:
#code here
print(" ".join(x4))

coronavirus caused lockdowns around

## 2. Sets

Reference:-https://www.youtube.com/watch?v=B7dPo44o5jA&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=12

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [101]:
#code here
stud_grades = ["A",'A','B','C','C','F']

Print the len of stud_grades

In [102]:
#code here
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [105]:
#code here
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [106]:
#code here
stud_grades_set

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [108]:
#code here
print(type(stud_grades),stud_grades)
print(type(stud_grades_set),stud_grades_set)

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> {'A', 'B', 'C', 'F'}

Add a new element ‘G’ to stud_grades_set

In [109]:
#code here
stud_grades_set.add("G")

Add element 'F' to stud_grades_set. and print it.

In [111]:
#code here
stud_grades_set.add("F")
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [114]:
#code here
stud_grades_set.remove("F")

Print the elements and the length of stud_grades_set

In [116]:
#code here
print(stud_grades_set)
print(len(stud_grades_set))

{'C', 'G', 'A', 'B'}
4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [117]:
#code here
colors = ["red",'blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [119]:
#code here
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [121]:
#code here
colors_set = set(colors)
fruits = set(fruits)

Find the union of both the sets.

In [122]:
#code here
union_variable = colors_set.union(fruits) 
print(union_variable)

{'blue', 'apples', 'orange', 'red', 'grapes'}

Find the intersection of both the sets

In [123]:
#code here
intersection_var = colors_set.intersection(fruits)
print(intersection_var)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [126]:
#code here
print(fruits.difference(colors))

{'apples', 'grapes'}

## 3. TUPLES

Reference:-https://www.youtube.com/watch?v=aMGPLCzTvmE&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=11

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [143]:
#code here

temp = (17,'virat',50.0)

Iterate through temp and print all the items in temp

In [144]:
#code here
for i in temp :
    print(i)

17
virat
50.0

replace first element with 11 in temp

In [145]:
#code here
temp1= list(temp)
temp1[0] = 11

Set temp1 = tuple(temp)

In [146]:
#code here
temp = tuple(temp1)

Iterate through temp1 and print all the items in temp1.

In [147]:
#code here

for i in temp :
    print(i)

11
virat
50.0

replace first element with 17 in temp1

In [148]:
#code here
temp1[0] = 17
temp =tuple(temp1)
temp

(17, 'virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

<p style='text-align: right;'> 6 points</p>

In [149]:
#code here
city = ('Banglore',28.9949521,72)

Print first element of city

In [150]:
#code here
print(city[0])

Banglore

Create city2 = (‘Chennai’, 30.01, 74)

In [152]:
#code here
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [162]:
#code here
cities = (city,city2)

Print cities

In [163]:
#code here

print(cities)

(('Banglore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [165]:
#code here
print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [166]:
#code here

print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## 4. DICT

Reference:-https://www.youtube.com/watch?v=U3e-L1WSSzQ&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=13

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [205]:
#code here
d = {'actor':'amir','animal':'cat','earth':2,'list':[23,32,12]}

Print the value of d[0]

In [206]:
#code here
d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [210]:
#code here
actor=d["actor"]

Print the type of actor

In [211]:
#code here
print(type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable l.

Print the type of l.

In [214]:
I = d["list"]
print(type(I))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [216]:
#code here
d1 = {'singer':'kri$na','album':'still here','genre':'hip-hop'}
print(d1)

{'singer': 'kri$na', 'album': 'still here', 'genre': 'hip-hop'}

Merge d1 into d.

In [229]:
#code here
def merge(d,d1):
    return (d.update(d1))


d = {'actor':'amir','animal':'cat','earth':2,'list':[23,32,12]}
d1 = {'singer':'kri$na','album':'still here','genre':'hip-hop'}
print(merge(d,d1))

print(d)

None
{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'kri$na', 'album': 'still here', 'genre': 'hip-hop'}

print d

In [230]:
#code here

print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'kri$na', 'album': 'still here', 'genre': 'hip-hop'}

Print all the keys in d

In [231]:
#code here
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [233]:
#code here
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'kri$na', 'still here', 'hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [234]:
#code here

for key,value in d.items():
    print(key,"--->",value)

actor ---> amir
animal ---> cat
earth ---> 2
list ---> [23, 32, 12]
singer ---> kri$na
album ---> still here
genre ---> hip-hop


Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

Count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [12]:
#code here

sent = 'Coronavirus Caused Lockdowns Around The World.'
dic1 = {}
for i in sent :
    dic1[i] = 0
    for j in sent :
        dic1[j] = dic1[i] + sent.count(j)
    
dic1

{'C': 2,
 'o': 6,
 'r': 4,
 'n': 3,
 'a': 2,
 'v': 1,
 'i': 1,
 'u': 3,
 's': 3,
 ' ': 5,
 'e': 2,
 'd': 4,
 'L': 1,
 'c': 1,
 'k': 1,
 'w': 1,
 'A': 1,
 'T': 1,
 'h': 1,
 'W': 1,
 'l': 1,
 '.': 1}

# --------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# --------------------------------------------------------------------

-----------------
# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

Please fill this feedback form  https://zfrmz.in/MtRG5oWXBdesm6rmSM7N